<li>
      <%= gravatar_for user, size: Settings.gravatar.default_size %>
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
      <%= link_to t("users.delete.title"), user, method: :delete,
        data: { confirm: t("users.delete.confirm") } %>
      <% end %>
</li>
